<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
 </configSections>
 <connectionStrings>
	<add name="instrumentConfDB"
   connectionString="Data Source=127.0.0.1;Persist Security Info=True;Initial Catalog=InstrumentSYS;User ID=sa;Password=S3cur3P@ssW0rd!; Encrypt=False"
   providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>